<a href="https://colab.research.google.com/github/KantuBhavya/assignment-/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
print("sum of 5,10,15:",a+b+c)

sum of 5,10,15: 30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
a="rishi"
if type(a)==str:
    print(type(a))

<class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=int(input("enter first number:"))
b=int(input("enter second number:"))
print("addition is:",a+b)
print("subtraction is:",a-b)
print("multiplication is :",a*b)
print("division is :",a/b)

enter first number:25
enter second number:5
addition is: 30
subtraction is: 20
multiplication is : 125
division is : 5.0

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
a="123"
print(int(a))
print(float(a))

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
a=str(input("enter a string:"))
print(a[0])

enter a string:skill
s

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
a=str(input("enter a string:"))
len(a)

enter a string:skilld

6

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
a=str(input("enter a string:"))
print(a.isalpha())

enter a string:sfhf
True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
a=str(input("enter a string:"))
b=str(input("enter a string:"))
print("concatenate:",a+b)

enter a string:hello
enter a string:myself
concatenate: hellomyself

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
a=str(input("enter a string:"))
substr="abc"
index=a.index(substr)
print(index)

enter a string:abcsdg
0

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
a=str(input("enter a string:"))
print(a.upper())
print(a.lower())

enter a string:Hello
HELLO
hello

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
a=str(input("enter a string:"))
print("number of times b appears:")
print(a.count('b',0))

enter a string:sgbdjbdbbdub
number of times b appears:
5

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
a=str(input("enter your name :"))
print(f"Hello {a} Good Morning")

enter your name :user
Hello user Good Morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
a=int(input("enter first number:"))
b=int(input("enter second number:"))
print("sum:",a+b)

enter first number:26
enter second number:6
sum: 32

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
a=str(input("enter your name :"))
b=int(input("enter your age :"))
print(f"hello my name is {a} and my age is {b} ")

enter your name :ramya
enter your age :24
hello my name is ramya and my age is 24

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
a=float(input("enter a number :"))
if a>=0:
  if a==0:
    print("zero")
  else:
    print("positive number")
else:
  print("negative number")

enter a number :-2435
negative number

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
a=int(input("enter a number :"))
b=int(input("enter a number :"))
c=int(input("enter a number :"))
print( max(a,b,c))
def max(a,b,c):

    if (a>=b) and (a>=c):
      print(f" {a} is maxmum number")
    elif (b>=a) and (b>=c):
      print(f" {b} is maximum number")
    else:
      printf(f" {c} is maxium number")

enter a number :4
enter a number :567
enter a number :89
 567 is maximum number
None

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year=int(input("enter a year :"))
if year%4==0 and year%100!=0 :
  print("it is  leap year")
else:
  print("it is not  leap year")

enter a year :2024
it is  leap year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
a=int(input("enter a number :"))
if a%3==0 and a%5==0:
  print(f"{a} is divisible by both 3 and 5")
else:
  print(f"{a} is not divisible by both")

enter a number :15
15 is divisible by both 3 and 5

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
a=str(input("enter  :"))
if a==a[::-1]:
 print("it is a palindrome")
else:
  print("is is not a palindrome")

enter  :madam
it is a palindrome

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
i=0
while i<=20:
    print(i)
    i=i+2

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
num=int(input("enter a number for miltiplication:"))
print("Multiplication table for:",num)
for count in range (1,11):
  print(num ,'x',count,'=', num*count)

enter a number for miltiplication:5
Multiplication table for: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n=int(input("enter a number :"))
sum=0
i=1
while i<=n:
  sum=sum+i
  i=i+1
print('sum is:',sum)

enter a number :5
sum is: 15

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
n=int(input("enter a number to get factorial :"))
f=1
while n>=1:
  f*=n
  n-=1
print("Factorial is",f)

enter a number to get factorial :4
Factorial is 24

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n=int(input("enter a number to get fibonacci sequence till it :"))
a=0
b=1
for i in range(0,n):
  print(a,end = ' ')
  c=a+b
  a=b
  b=c

enter a number to get fibonacci sequence till it :10
0 1 1 2 3 5 8 13 21 34

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
num1=1
num2=100
for x in range(num1,num2):
  prime=True
  for i in range(2,x):
    if (x%i==0):
      prime = False
  if prime == True:
    print(x)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
i=48
while i<=50:
  print(i)
  i+=1

48
49
50

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for i in range(1,21):
  if i%2!=0:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
str1=input("enter a string:")
target=input("enter a character to count the appears in string")
count=0
for c in str1:
  if c== target:
    count+=1
print(count)

enter a string:ahhsdujhs
enter a character to count the appears in stringh
3

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
num=input("enter a number:")
sum=0
for i in num:
  sum=sum+int(i)
print (sum)

enter a number:24
6

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.
def calculate_sum(numbers):
  for i  in numbers:
    sum=0
    sum=sum+i
    i=i+1
  return sum
numbers_list=[1,2,3,4,5]
result=calculate_sum(numbers_list)
print(" the sum of the list is: ",result)

 the sum of the list is:  5

In [ ]:
# Write a Python program to find the largest element in a list.
a=(5,10,15,67)
largest=max(a)
print(largest)

67

In [ ]:
# Write a Python program to reverse a list.
a=[1,2,3,4.5]
a=a[::-1]
print(a)

[4.5, 3, 2, 1]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
list=[10,20,20,30,40,60,20]
n=20
print("original list:")
print(list)
for x in list:
  if x==n:
    list.remove(x)
print("list after removing elements:")
print(list)

original list:
[10, 20, 20, 30, 40, 60, 20]
list after removing elements:
[10, 30, 40, 60, 20]

In [ ]:
# Write a Python program to find the index of an element in a list.
num=[1,2,4,6,8,3,9]
index=num.index(8)
print("index of 8:",index)

index of 8: 4

In [ ]:
# Write a Python program to find if a specific element exists in a list.
num=[1,27,46,97,44]
print(num)
n=int(input("enter a number:"))
if n in a:
  print(" element exists in list")
else:
  print('element does not exists in list')

[1, 27, 46, 97, 44]
enter a number:45
element does not exists in list

In [ ]:
# Write a Python program to remove duplicates from a list.
def Remove(duplicate):
  final_list=[]
  for num in duplicate:
    if num not in final_list:
      final_list.append(num)
  return final_list
duplicate=[2,3,4,4,6,3,3]
print(Remove(duplicate))

[2, 3, 4, 6]

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
a_list=['a',3,8,'a',7,2,'a']
occur=a_list.count('a')
print(occur)

3

In [ ]:
# Write a Python program to get the number of even numbers in a list.
def list_even(x):
  even=[]
  for n in x:
    if n%2==0:
      even.append(n)
  return even
num=[1,4,2,6,4,8,9,3]
print(list_even(num))

[4, 2, 6, 4, 8]

In [ ]:
# Write a Python program to create a tuple and print it.
tup_a=['abc','def','dfg','gfh']
print(tup_a)

['abc', 'def', 'dfg', 'gfh']

In [ ]:
#write a python program to convert a tuple to a list and vice versa
my_tuple=['adf','df','sdfg','dfg']
my_list=list(my_tuple)
print("list is:",my_list)
print("tuple is:",my_tuple)

list is: ['adf', 'df', 'sdfg', 'dfg']
tuple is: ['adf', 'df', 'sdfg', 'dfg']

In [ ]:
#write a python program to find the maximum and minimum values in a tuple.
import numpy as np
list1=[(1,1),(2,2),(3,3),(5,5)]
num=np.array(list1)
min_list=np.min(num,axis=0)
max_list=np.max(num,axis=0)
print("minimum of list:",min_list)
print("maxmum of list:",max_list)

minimum of list: [1 1]
maxmum of list: [5 5]

In [ ]:
# Write a Python program to unpack a tuple into variables.
person=('navya',24,'female')
name,age,gender=person
print("name:",name)
print("age:",age)
print("gender:",gender)

name: navya
age: 24
gender: female

In [5]:
# Write a Python program to add an element to a set and check if an element exists in the set.
Gek=("d")
GeK.add("s")
print("letters are:",GeK)
GeK.add("e")
print(" letters are:",GeK)

NameError: name 'GeK' is not defined

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.
person_dict={"name":"navya","gender":"female","country":"india"}
print(person_dict)

{'name': 'navya', 'gender': 'female', 'country': 'india'}

In [7]:
# Write a Python program to access a dictionary value using a key.
person_dict={"name":"navya","gender":"female","country":"india"}
x=person_dict["name"]
print(x)

navya

In [8]:
# Write a Python program to check if a key exists in a dictionary.
person_dict={"name":"navya","gender":"female","country":"india"}
i="name"
if i in person_dict:
  print("it exists")
else:
  print("it doesnot exists")

it exists

In [ ]:
# Write a Python program to merge two dictionaries.
d1={'x':'1','y':'2'}
d2={'z':'3'}
d3=d1|d2
print(d3)

{'x': '1', 'y': '2', 'z': '3'}

In [13]:
# Write a Python program to remove a key from a dictionary.
d1={'x':'1','y':'2','z':'3'}
print("my dictionary is:",d1)
if  x in d1:
    del(d1['x'])
print("after deletion:",d1)

my dictionary is: {'x': '1', 'y': '2', 'z': '3'}
after deletion: {'x': '1', 'y': '2', 'z': '3'}

In [15]:
# Write a Python program to get the number of keys in a dictionary.
d1={'x':'1','y':'2','z':'3'}
keys=d1.keys()
print("keys in dictionary:",[keys])

keys in dictionary: [dict_keys(['x', 'y', 'z'])]

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.
marks={"m1":76,"m2":83,"m3":92,"m4":8}
v=marks.values()
max=max(v)
min=min(v)
print("maximum:",max)
print("minimum:",min)

maximum: 92
minimum: 8

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [16]:
# Write a Python function that returns the square of a number.
def square(num):
  square=num*num
  return square
num=int(input("enter a number for square value:"))
squ=square(num)
print("the square value is:",squ)

enter a number for square value:10
the square value is: 100

In [17]:
# Write a Python function that accepts two parameters and returns their sum.
def sum(num1,num2):
  sum=num1+num2
  return sum
num1=int(input("enter a first number:"))
num2=int(input("enter a second number:"))
summation=sum(num1,num2)
print("the sum of above numbers is:",summation)

enter a first number:2
enter a second number:4
the sum of above numbers is: 6

In [29]:
# Write a Python function to check if a given number is prime.
def num_prime(num):
  if num>1:
     for i in range (2,(num//2)+1):
      if(num%i)==0:
        print(num,"is not a prime number")
        break
      else:
        print(num," is a prime number")
  else:
    print("it is not a prime number")
num1=int(input("enter a  number:"))
num_prime(num1)

enter a  number:5
5  is a prime number

In [31]:
# Write a Python function to calculate the factorial of a number using recursion.
def recur_factorial(n):
  if n==1:
    return n
  else:
    return n*recur_factorial(n-1)
num1=int(input("enter a  number:"))
if num<0:
  print("no factorial exists for negative numbers")
elif num==0:
  print("zero factorial is 1")
else:
  print("factorial of",num1,"is",recur_factorial(num1))

enter a  number:5
factorial of 5 is 120

In [32]:
# Write a Python function to calculate the power of a number using recursion.
def power(n,p):
  if p==0:
    return 1
  return (n*power(n,p-1))
n=int(input("enter the number:"))
p=int(input("enter the power:"))
print(" the value is",power(n,p))

enter the number:2
enter the power:3
 the value is 8

In [34]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def list_len(n):
  count=0
  for i in n:
    count+=1
  print(count)
n=[1,4,7,45,6,7]
list_len(n)

6

In [35]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def name(name,age):
  print("my self:",name)
  print("my age is:",age)
name(name="navya",age="25")
name(age=25,name="navya")

my self: navya
my age is: 25
my self: navya
my age is: 25

In [36]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
def maximum(a,b):
  if a>=b:
    return a
  else:
    return b
a=2
b=4
print(maximum(a,b))

4

In [37]:
# Write a Python function that accepts a list of numbers and returns their product.
def product(my_list):
  result=1
  for x in my_list:
    result=result*x
  return result
my_list=[12,23,45]
print(product(my_list))

12420

In [47]:
# Write a Python function to check if a number is even or odd using the modulo operator.
def even(n):
  if n>0:
    if n%2==0:
      print("it is a even number")
    else:
      print("it is odd number")
  if n==0:
    print("zero is neither odd or even")
num=int(input("enter a number"))
even(num)

enter a number43
it is odd number

In [54]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
for x in range(1,11):
  squares=[x*x]
  x=x+1
print(squares)

[100]

In [55]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
num=[1,3,3,4,5,6,7,8,9,10]
for i in num:
  if i%2!=0:
    odd_num=[i]
print("after filter of even numbers:",odd_num)

after filter of even numbers: [9]

In [56]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
words=['asdf','edf','asdfg','lkjh','rf']
for i in words:
  if len(words)>4:
    word=[words]
print(word)

[['asdf', 'edf', 'asdfg', 'lkjh', 'rf']]

In [61]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
text="Hello World"
for char in text:
  if char==char.isupper():
    txt=[char]
print(txt)

NameError: name 'txt' is not defined

In [62]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def fib_generator(n):

  def fib_generator():
    last=1
    curr=1

    if n==0:
      return

    yield last
    if n==1:
      return

    yield curr
    if n==2:
      return

    ii=2
    while ii<n:
      next=curr+last
      yield next
      last=curr
      curr=next
      ii+=1

    return fib_n_generator()

fib=[xx for xx in fib_generator(10)]
print(fib)

TypeError: 'NoneType' object is not iterable

In [67]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
num=[1,2,3,4,5,6]
for num in num:
  square_dict={num:num*num}
print("dictionary :",square_dict)

dictionary : {6: 36}

In [70]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
key=[1,2,3,]
value=[2,5,4]
for i in range(len(key)):
  dictionary={key[i]:value[i]}
print("dictionary:",dictionary)

dictionary: {3: 4}

In [72]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
num=[1,2,3,4,5]
for num in num:
  cube_dict={num:num**3}
print("dictionary :",cube_dict)

dictionary : {5: 125}

In [74]:
# Write a Python program to square each element of a list using the map() function.
numbers=[1,2,3,4,5]
squared_numbers=map(lambda x:x**2,numbers)
squared_list=list(squared_numbers)
print(squared_list)

[1, 4, 9, 16, 25]

In [76]:
# Write a Python program to filter all even numbers from a list using the filter() function.
num=[1,2,3,4,5,6,7,8,9,10]
even_numbers=filter(lambda x:x%2==0,num)
even_list=list(even_numbers)
print(even_list)

[2, 4, 6, 8, 10]

In [78]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.
divi_3_5=lambda x:x%3==0 and x%5==0
num=[15,35,24,60]
divis_num=[numbers for numbers in num if divi_3_5(numbers)]
print("numbers divisible by both 3 and 5:",divis_num)

numbers divisible by both 3 and 5: [15, 60]

In [83]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().
nums=[2,4,6,8,9,11]
n=2
print("original list:",nums)
print("given numbers:",n)
filtered_numbers = list(map(lambda number: number*n,nums))
print("result:")
print(' '.join(map(str,filtered_numbers)))

original list: [2, 4, 6, 8, 9, 11]
given numbers: 2
result:
4 8 12 16 18 22

In [84]:
# Write a Python program to remove all occurrences of a specific element from a list.
def remove_items(test_list,item):
  res=[i for i in test_list if i != item]
  return res
if  _name_=="_main_" :
  test_list=[1,2,3,4,5,7]
  item=1
  print("original list is:",str(test_list))
  res=remove_items(test_list,item)
  print("list after performing the remove operation:",str(res))

SyntaxError: invalid syntax (<ipython-input-84-dabd8e1e2241>, line 5)

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`